*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
}
.container__header {
  display: flex;
  position: relative;
  z-index: 9999;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  padding: 1.5em 2em;
  margin: 0em auto;
}
.container__header__logo {
  position: relative;
  z-index: 999999;
}
.container__header__nav {
  display: flex;
  align-items: center;
  margin-left: 2em;
}
.container__header__nav__link {
  padding: 0em 1.5em;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 1em;
}
.container__header__nav__link:hover {
  transition: 300ms all;
  color: #3fc344;
  text-decoration: underline;
}
.container__header__actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 999999;
}
.container__header__actions__button {
  width: 40px;
  height: 40px;
  border: none;
  padding: 0em;
  border-radius: 50px;
  background-color: white;
  color: #000;
  cursor: pointer;
  display: none;
  margin-right: 1em;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
}
.container__header__actions__button:hover {
  transition: 300ms all;
  background-color: transparent;
  box-shadow: none;
  color: white;
}
.container__header__actions__signup {
  padding: 0em 2em;
  border-radius: 50px;
  height: 40px;
  color: #000;
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.container__header__actions__signup:hover {
  transition: 300ms all;
  background-color: transparent;
  box-shadow: none;
  color: white;
}
.container__home {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container__home__section {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -6em;
  padding-top: 6em;
  overflow: hidden;
}
.container__home__section__svg {
  position: absolute;
  top: -100px;
  right: -100px;
  width: 700px;
  z-index: -1;
}
.container__home__section__svg1 {
  position: absolute;
  top: -100px;
  right: -100px;
  width: 700px;
  z-index: -1;
}
.container__home__jumbotron {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5em 2em;
  margin: 0em auto;
  width: 100%;
  max-width: 1600px;
  text-align: center;
}
.container__home__jumbotron__left {
  text-align: left;
}
.container__home__jumbotron__left svg {
  width: 100%;
  max-width: 400px;
}
.container__home__jumbotron__left__info {
  color: #8e8e8e;
  margin-bottom: 2em;
  font-size: 1.1rem;
  width: 100%;
  max-width: 550px;
}
.container__home__jumbotron__left__link {
  text-decoration: none;
  color: black;
  background-color: #3fc344;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.7em 2em;
  border-radius: 50px;
}
.container__home__jumbotron__right {
  display: flex;
  justify-content: center;
  flex: 1;
}
.container__home__jumbotron__right__title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #3fc344;
  margin-bottom: -3em;
  margin-right: -2em;
}
.container__home__jumbotron__right__image {
  width: 100%;
  max-width: 400px;
}
.container__home__explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0em 2em;
  max-width: 1600px;
  margin: 0em auto;
}
.container__home__explore__title {
  font-size: 1.5rem;
  font-weight: 600;
}
.container__home__explore__title svg path:nth-child(2) {
  fill: #20253a;
}
.container__home__explore__info {
  color: #8e8e8e;
  margin-bottom: 3em;
}
.container__home__explore__info span {
  color: #3fc344;
}
.container__home__explore__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
}
.container__home__explore__content__entry {
  width: 300px;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 200px;
}
.container__home__explore__content__entry::after {
  content: "";
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  border-radius: 200px;
  border: 2px solid #3fc344;
  z-index: -2;
}
.container__home__explore__content__entry::before {
  content: "";
  position: absolute;
  botom: -10%;
  left: -20%;
  width: 120%;
  height: 120%;
  border-radius: 200px;
  background-color: white;
  z-index: -1;
}

.container__home__explore__content__entry__img {
  width: 100%;
  height: 100%;
}
.container__home__explore__content__entry__title {
  position: absolute;
  bottom: -2em;
  font-size: 1.2rem;
  font-weight: 600;
  color: #20253a;
  left: calc(50% - 50px);
  width: 100%;
  max-width: 100px;
}
.container__home__explore__content__entry:hover {
  overflow: hidden;
}
.container__home__explore__content__entry:hover
  .container__home__explore__content__entry__overlay {
  transition: 300ms all;
  opacity: 1;
}
.container__home__explore__content__entry__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.49) 17.19%,
      rgba(32, 37, 58, 0.88) 73.44%,
      #20253a 100%
    ),
    url(image.png);
}
.container__home__explore__content__entry__overlay__title {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1em;
}
.container__home__explore__content__entry__overlay__info {
  color: white;
  font-size: 0.9rem;
  line-height: 130%;
  font-weight: 400;
  width: 80%;
  text-align: center;
}
.container__home__provider {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10em;
  padding-bottom: 10em;
}
.container__home__provider__left {
  display: flex;
  justify-content: flex-end;
  background-color: #20253a;
  height: 150px;
  width: 25%;
  padding: 2em;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  position: relative;
}
.container__home__provider__left::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -5%;
  background-color: #3fc344;
  width: 100%;
  height: 100%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  z-index: -1;
}

.container__home__provider__left svg {
  height: 100%;
}
.container__home__provider__right {
  width: 75%;
  padding: 0em 2em;
}
.container__home__provider__right__entry {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container__home__slogan {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.container__home__slogan svg {
  max-width: 90%;
  margin-bottom: -4em;
  position: relative;
  z-index: 99;
}
.container__home__slogan img {
  min-height: 300px;
  min-width: 100%;
}
.container__home__testimonials {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
  align-items: center;
  margin: 0em auto;
  padding: 7em 2em;
}
.container__home__testimonials__left {
  width: 50%;
}
.container__home__testimonials__left__img{
  margin-right: 2em;
  width: 100%;
}
.container__home__testimonials__right {
  width: 50%;
}
.container__home__testimonials__right__sub__heading {
  font-size: 1.5rem;
  color: #3fc344;
  margin-bottom: 0.5em;
}
.container__home__testimonials__right__heading {
  font-size: 2.5rem;
  font-weight: 600;
  color: #20253a;
  width: 100%;
  max-width: 450px;
  margin-bottom: 0.5em;
}
.container__home__testimonials__right__heading span {
  color: #3fc344;
}
.container__home__testimonials__right__info {
  color: #8e8e8e;
  font-size: 1rem;
  width: 100%;
  max-width: 500px;
  margin-bottom: 2em;
}
.container__home__testimonials__right__user {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.container__home__testimonials__right__user__img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 1em;
}
.container__home__testimonials__right__user__content__name {
  font-size: 1.2rem;
  font-weight: 600;
  color: #20253a;
}
.container__home__testimonials__right__user__content__info {
  font-size: 1rem;
  color: #8e8e8e;
}
.container__home__testimonials__right__list__entry {
  width: 100%;
}

.Footer {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 3em;
  padding-bottom: 0;
  background-color: #f3f3f3;
}
.Footer__content {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  // align-items: center;
  justify-content: space-between;
}
.Footer__content__left__logo__info {
  color: #565656;
}
.Footer__content__mid__content {
  display: flex;

  justify-content: center;
}
.Footer__content__mid__content__left {
  margin-right: 5em;
}

.Footer__content__mid__content__left__links {
  display: flex;

  flex-direction: column;
}
.Footer__content__right__all__links__link {
  background-color: #3fc344;
  height: 40px;
  border-radius: 50px;
  width: 40px;
  padding: 0.5em;
}
.Footer__content__mid__content__left__links a {
  margin-bottom: 1em;
  color: #434343;
  text-decoration: none;
}
.Footer__content__left {
  width: 30%;
}
.Footer__content__mid {
  width: 40%;
}
.Footer__content__right {
  width: 30%;
}
.Footer__content__left__logo__info {
  font-size: 16px;
  font-weight: 500;
  max-width: 320px;
  margin-top: 0.4em;
}
.Footer__content__mid__content__left__heading {
  font-size: 20px;
  font-weight: 700;
  color: #3fc344;
  margin-bottom: 1.5em;
}
.Footer__content__right__input__name {
  font-size: 16px;
  margin-bottom: 0.5em;
}
.Footer__content__right__input__button input {
  padding: 0.7em 0em 0.7em 0.5em;
  width: 60%;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  border: 1px solid #3fc344;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
.Footer__content__right__input__button input:hover {
  background-color: #fff;
  color: #3fc344;
  border: 1px solid #3fc344;
}
.Footer__content__right__input__button {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.Footer__content__right__input__button button {
  padding: 0.7em 2em;
  background-color: #3fc344;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  border: 1px solid #3fc344;
  cursor: pointer;
  transition: 300ms ease-in-out;
  margin-left: 0.2em;
}

.Footer__content__right__all__links {
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: #585858;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 0.5em;
}
.Footer__content__right__all__links :hover {
  cursor: pointer;
  color: #3fc344;
}
.Footer__content__mid__content__left__links a:hover {
  cursor: pointer;
  color: #3fc344;
}
.Footer__content__right__input__button button:hover {
  background-color: #fff;
  color: #3fc344;
  border: 1px solid #3fc344;
}
.Footer__bottom__heading {
  font-size: 16px;
  font-weight: 700;
  color: #434343;
  padding: 1em;

  // margin-bottom: 1.5em;
}
.Footer__bottom {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.line {
  width: 100%;
  height: 3px;
  background-color: #434343;
  margin: 1em 0em;
}

@media (max-width: 1300px) {
  .container__home__explore__content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
  }
  .container__home__explore__content__entry {
    margin-bottom: 2em;
  }
}
@media (max-width: 1200px) {
  .container__header__logo svg {
    width: 100%;
    max-width: 100px;
  }
  .container__header__actions__button {
    display: flex;
  }
  .container__header__nav {
    position: fixed;
    z-index: 99999;
    top: 0px;
    background: url("../assets/background.png");
    background-size: cover;
    left: 0px;
    margin-left: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    animation: container__header__nav__fade__and__grow__and__radius 300ms
      ease-in-out forwards;
    transform-origin: top right;
  }
  @keyframes container__header__nav__fade__and__grow__and__radius {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  .container__header__nav__link {
    color: white;
    font-size: 1.5em;
    margin: 0.5em 0em;
  }
  .container__header__nav__link:hover {
    color: white;
  }
  .container__header:has(.container__header__nav) {
    .container__header__logo svg path {
      transition: 200ms ease-in-out;
      fill: white;
    }
  }
}
@media (max-width: 1050px) {
  .Footer__content__left {
    width: 50%;
  }
  .Footer__content__mid__content {
    justify-content: space-between;
  }
  .Footer__content__right {
    width: 60%;
  }
  .Footer__content__right__all__links {
    width: 60%;
  }
}
@media (max-width: 1000px) {
  .container__home__jumbotron {
    flex-direction: column;
    padding: 5em 2em;
  }
  .container__home__jumbotron__left {
    width: 100%;
  }
  .container__home__jumbotron__right {
    width: 100%;
    padding: 0em 2em;
  }
  .container__home__jumbotron__right__image {
    width: 100%;
  }
  .container__home__provider {
    padding: 5em 2em;
  }
  .container__home__provider {
    flex-direction: column;
  }
  .container__home__provider__left {
    width: 100%;
    margin: 0em auto;
    border-radius: 100px;
    justify-content: center;
    height: 120px;
  }
  .container__home__provider__left svg {
    height: 50px;
  }
  .container__home__provider__left::after {
    width: 110%;
    border-radius: 100px;
  }
  .container__home__provider__right {
    width: 100%;
    padding: 0em;
    margin-top: 2em;
  }
  .container__home__testimonials{
    flex-direction: column;
  }
  .container__home__testimonials__left{
    width: 100%;
  }
  .container__home__testimonials__right{
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
  }
  .container__home__testimonials__right__list{
    width: 100%;
  }
  .container__home__testimonials__left__img{
    margin-right: 0em;
  }
}
@media (max-width: 750px) {
  .Footer__content__mid {
    margin: 3em 0em;
    width: 100%;
  }
  .Footer__content__left {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .container__header__logo svg path {
    transition: 200ms ease-in-out;
    fill: white;
  }
  .container__home__jumbotron__right {
    margin-top: 2em;
  }
  .container__home__jumbotron__right__title {
    color: white;
  }
  .container__home__jumbotron__left__info {
    color: white;
    margin-top: 2em;
  }
  .container__home__jumbotron__left svg * {
    fill: white;
  }
  .container__home__explore__info {
    text-align: center;
  }
  .container__home__explore__content__entry {
    margin-bottom: 4em;
  }
  .container__home__section__svg1 {
    width: 1000px;
    right: -200px;
  }
}
@media (max-width: 580px) {
  .Footer__content__right__input__button input {
    width: 55%;
  }
  .Footer__content {
    padding: 2em;
  }
  .Footer {
    padding: 0em;
  }
  .Footer__content__right {
    width: 100%;
  }
}
